<td>
    {{#if defaultValue}}
        <textarea class='body-textarea' name='{{name}}'>{{defaultValue}}</textarea>
    {{else}}
        <textarea class='body-textarea' name='{{name}}'>{{sampleJSON}}</textarea>
    {{/if}}
</td>
<td>
    <span class="model-signature"></span>
</td>
